<a href="https://colab.research.google.com/github/sachin701/ADVpython/blob/main/ADV_Python_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# BIBEK's drive connection

from google.colab import drive
drive.mount('/content/drive')

In [17]:
import pandas as pd

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("/content/drive/My Drive/The Global Dataset 14 Apr 2020.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,55,57) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
len(df.columns)

64

In [ ]:
df["gender"].value_counts()

Female    35534
Male      13267
Name: gender, dtype: int64

In [ ]:
df.shape

(48801, 64)

In [ ]:
print(13267/48801,35534/48801)

0.27185918321345875 0.7281408167865413

In [ ]:
df["typeOfExploitConcatenated"].value_counts()

-99                                                                          16174
Sexual exploitation                                                          15989
Forced labour                                                                 8969
Other                                                                         7063
Slavery and similar practices                                                  359
Forced marriage                                                                168
Forced labour;Sexual exploitation;Combined sexual and labour exploitation       78
Forced labour;Other                                                              1
Name: typeOfExploitConcatenated, dtype: int64

-99 means no collected data for the represtentive fields

In [ ]:
c=df["typeOfExploitConcatenated"].value_counts()

(c/c.sum())*100

-99                                                                          33.142763
Sexual exploitation                                                          32.763673
Forced labour                                                                18.378722
Other                                                                        14.473064
Slavery and similar practices                                                 0.735641
Forced marriage                                                               0.344255
Forced labour;Sexual exploitation;Combined sexual and labour exploitation     0.159833
Forced labour;Other                                                           0.002049
Name: typeOfExploitConcatenated, dtype: float64

In [ ]:
df["citizenship"].value_counts()

PH     11365
00      8858
UA      7761
MD      5901
US      3636
KH      1979
ID      1971
BY      1463
MM      1250
RO       655
GH       544
KG       437
BG       342
HT       339
-99      278
UZ       261
VN       170
GW       145
LA       126
CO       124
NG       108
UG        98
AF        97
MG        94
LK        85
SL        81
SN        70
TH        55
KZ        54
CD        53
ML        45
TJ        43
BF        33
KE        32
CI        31
NE        31
NP        27
TM        26
CN        23
AL        22
MX        19
BO        18
GN        15
ER        13
KR        12
BD        11
Name: citizenship, dtype: int64

In [ ]:
df["meansOfControlTakesEarnings"].value_counts()

-99    44804
 1      2776
 0      1221
Name: meansOfControlTakesEarnings, dtype: int64

# New Section

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
genders=df['gender'].values
years=df['yearOfRegistration'].values
registration=df['yearOfRegistration'].value_counts()

getting years and case count each of year to see the rise and fall in case

In [ ]:
case_count=registration.values
case_count
years=registration.index

In [ ]:
plt